<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alpha.alphaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.register.RegisterActivity" />
        <!-- <activity android:name=".ui.login.LoginActivity"/> -->
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.AboutUsActivity" />
        <activity android:name=".ui.FeedbackActivity" />
        <activity android:name=".ui.ScoreActivity" />
        <activity android:name=".ui.AccountSecurityActivity" />
        <activity android:name=".ui.CurrentAccountActivity" />
        <activity android:name=".ui.ModifyPasswordActivity" />
        <activity android:name=".ui.bind.BindAccountActivity" />
        <activity android:name=".ui.forgetpw.ForgetPWGuideActivity" />
        <activity android:name=".ui.forgetpw.PhoneGetPwActivity1" />
        <activity android:name=".ui.forgetpw.PhoneGetPwActivity2" />
        <activity android:name=".ui.forgetpw.PhoneGetPwActivity3" />
        <!--QQ授权登录-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--这里要添加在腾讯开发平台获取的appid,222222是测试用的appid-->
                <data android:scheme="222222" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
