<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alpha.alphaapp"
    android:versionCode="1"
    android:versionName="v 1.1.0">


    <meta-data android:name="UMENG_CHANNEL" android:value="${UMENG_CHANNEL_VALUE}" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--腾讯bugly权限-->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/alpha_logo_512"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".ui.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity" />
        <!--注册-->
        <activity android:name=".ui.v_1_0.register.RegisterGuideActivity" />
        <activity android:name=".ui.v_1_0.register.account.RegisterAccountActivity" />
        <activity android:name=".ui.v_1_0.register.phone.RegisterPhoneActivity1" />
        <activity android:name=".ui.v_1_0.register.phone.RegisterPhoneActivity2" />
        <activity android:name=".ui.v_1_0.register.phone.RegisterPhoneActivity3" />
        <activity android:name=".ui.v_1_0.register.UserAgreementActivity" />
        <activity android:name=".ui.v_1_0.login.LoginActivity"  />
        <activity android:name=".ui.v_1_0.set.SettingsActivity" />
        <activity android:name=".ui.v_1_0.modifypw.ModifyPwByPwActivity"/>
        <activity android:name=".ui.v_1_0.modifypw.phone.ModifyPwByPhoneActivity1" />
        <activity android:name=".ui.v_1_0.modifypw.phone.ModifyPwByPhoneActivity2" />
        <activity android:name=".ui.v_1_0.modifypw.phone.ModifyPwByPhoneActivity3" />
        <activity android:name=".ui.AboutUsActivity" />
        <activity android:name=".ui.FeedbackActivity" />
        <activity android:name=".ui.v_1_0.score.ScoreActivity" />
        <activity
            android:name=".ui.v_1_0.set.AccountSecurityActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.v_1_0.bind.firstbind.BindAccountActivity" />
        <activity android:name=".ui.v_1_0.forgetpw.ForgetPWGuideActivity" />
        <activity android:name=".ui.v_1_0.forgetpw.phone.PhoneGetPwActivity1" />
        <activity android:name=".ui.v_1_0.forgetpw.phone.PhoneGetPwActivity2" />
        <activity android:name=".ui.v_1_0.forgetpw.phone.PhoneGetPwActivity3" />
        <!--找回密码-->
        <activity android:name=".ui.v_1_0.forgetpw.wx.WxGetPwActivity3" />
        <activity android:name=".ui.v_1_0.forgetpw.wx.hasregister.WxGetPwActivityHasRegister1" />
        <activity android:name=".ui.v_1_0.forgetpw.wx.hasregister.WxGetPwActivityHasAccount" />
        <activity android:name=".ui.v_1_0.forgetpw.wx.noregister.WxGetPwActivityNoRegister1" />
        <activity android:name=".ui.v_1_0.forgetpw.wx.hasregister.WxGetPwActivityNoAccount" />
        <!--bind phone-->
        <activity android:name=".ui.v_1_0.bind.phone.first.NewPhoneBindActvity1" />
        <activity android:name=".ui.v_1_0.bind.phone.first.NewPhoneBindActvity2" />
        <activity android:name=".ui.v_1_0.bind.phone.change.ChangePhoneBindActvity1" />
        <activity android:name=".ui.v_1_0.bind.phone.change.ChangePhoneBindActvity2" />
        <!--set en_account-->
        <activity android:name=".ui.v_1_0.bind.account.EnAccountSetingHasPwActivity" />
        <activity android:name=".ui.v_1_0.bind.account.EnAccountSetingNoPwActivity" />
        <!--修改个人信息-->
        <activity android:name=".ui.v_1_0.mine.MineInfoActivity" />
        <activity android:name=".ui.v_1_0.mine.addr.ModifyContactAddrActivity" />
        <activity android:name=".ui.v_1_0.mine.school.ModifySchoolActivity"/>

        <!--签到-->
        <activity android:name=".ui.v_1_0.sign.SignActivity" />
        <activity android:name=".ui.v_1_0.sign.MySignActivity" />
        <activity android:name=".ui.WebActivity" />
        <!--积分商城模块-->
        <activity android:name=".ui.v_1_1.mall.exchange.ScoreExchangeEnterActivity" />
        <activity android:name=".ui.v_1_1.mall.exchange.GoodsExchangeActivity" />

        <activity android:name=".ui.v_1_1.mall.exchange.ScoreChangeRecordActivity" />
        <activity android:name=".ui.v_1_1.mall.exchange.ExchangeRecordListActivity" />
        <activity android:name=".ui.v_1_1.mall.exchange.GoodsListsActivity" />

        <activity android:name=".ui.v_1_1.mall.addr.ShippingAddrActivity" />
        <activity android:name=".ui.v_1_1.mall.addr.AddShippingAddrActivity" />
        <activity android:name=".ui.v_1_1.mall.addr.EditShippingAddrActvity" />
        <activity android:name=".ui.v_1_1.mall.addr.ChooseShippingAddrActivity" />
        <activity android:name=".ui.v_1_1.mall.exchange.ExchangeRecordDetailActivity" />

        <!--激活-->
        <activity android:name=".ui.v_1_1.mall.active.ActiveEnterActivity" />
        <activity android:name=".ui.v_1_1.mall.active.ActiveActivity" />
        <activity android:name=".ui.v_1_1.mall.active.ActiveRecordActivity" />


        <!--论坛-->
        <activity android:name=".ui.v_1_2.web.ui.TestWebViewActivity"/>
        <!--版本更新的服务-->
        <service android:name=".version.UpdateVersionService" />
        <receiver android:name="com.alpha.lib_sdk.app.net.broadcast.NetWorkChangeBroadcasetReceiver">
            <intent-filter android:priority="1000">　　　　　　
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!--QQ授权登录-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--这里要添加在腾讯开发平台获取的appid,222222是测试用的appid-->
                <data android:scheme="222222" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--wechat授权登录-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>
